version: "3"

services:
  cyber:
    image: cyberd/cyber:bostrom-localnet-1
    container_name: localbostrom
    #pull_policy: always
    volumes:
      - ./bostrom_config:/root/.cyber/config
      - ./data:/root/.cyber/data
    networks:
      cyberindex-net:
        ipv4_address: 172.28.1.2
    ports:
      - "26657:26657"
      - "1317:1317"
      - "9090:9090"
      - "9091:9091"
  postgres:
        image: postgres:latest
        restart: always
        container_name: cyberindex-postgres
        volumes:
            - ./cyberindex/postgres:/var/lib/postgresql/data
            - ./cyberindex/schema/:/docker-entrypoint-initdb.d/
        environment:
            - POSTGRES_DB=cyberindex_postgres
            - POSTGRES_USER=cyber
            - POSTGRES_PASSWORD=1bostromlocal1
        networks:
            cyberindex-net:
                ipv4_address: 172.28.1.3
        ports:
            - 5432:5432
  graphql-engine:
        image: hasura/graphql-engine:latest
        restart: always
        container_name: cyberindex-hasura
        depends_on:
            - "postgres"
        environment:
            HASURA_GRAPHQL_DATABASE_URL: postgres://cyber:1bostromlocal1@172.28.1.3:5432/cyberindex_postgres
            HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
            HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
            HASURA_GRAPHQL_ADMIN_SECRET: 1bostromlocal1
            HASURA_GRAPHQL_UNAUTHORIZED_ROLE: anonymous
        networks:
            cyberindex-net:
                ipv4_address: 172.28.1.4
        ports:
            - 8090:8080
  cyberindex:
        image: cyberd/cyberindex:local_0.1.0
        restart: always
        container_name: cyberindex
        depends_on:
            - "postgres"
            - "cyber"
        volumes:
            - ./cyberindex/:/root/.cyberindex
        networks:
            cyberindex-net:
                ipv4_address: 172.28.1.5
      

networks:
  cyberindex-net:
    driver: bridge
    ipam:
        driver: default
        config:
            - subnet: 172.28.1.0/24
